@implements IDisposable

@inject NavigationManager NavigationManager

<nav class="navbar navbar-expand-lg bg-warning shadow-lg">
    <div class="container">
        @if (ActiveTournament == null) 
        {
            <a href="#" class="navbar-brand"><span class="text-danger">Alicante</span></a>
        } 
        else
        {
            <a href="#" class="navbar-brand">@ActiveTournament.TournamentName<span class="text-danger"></span></a>
        }
        <span class="ms-3 text-dark">
            @countdownText
        </span>
    </div>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href="admin">
                <small class="small-title">
                    <strong class="text-warning">Admin</strong>
                </small>
            </a>
        </li>
    </ul>
</nav>

@code {
    [Inject] private IRepository _repo { get; set; }
    public IEnumerable<MatchHeader> matches { get; set; }
    public TournamentModel ActiveTournament { get; set; }

    private string? currentUrl;
    private System.Threading.Timer? timer;
    private string countdownText = "";
    private static readonly DateTime targetDate = new DateTime(2026, 1, 21, 8, 0, 0, DateTimeKind.Local);


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        // ActiveTournament = await _repo.GetActiveTournament();
        // if (ActiveTournament == null)
        // {
        //     return;
        // }
        // var results = await _repo.TournamentResult(ActiveTournament.TournamentId);
        // if (results != null)
        // {
        //     matches = results
        //         .GroupBy(m => new { m.MatchDate, m.CourseName })
        //         .OrderBy(g => g.Min(m => m.MatchRank))
        //         .Select(g => new MatchHeader
        //             {
        //                 MatchId = g.First().MatchId,
        //                 MatchDate = g.Key.MatchDate,
        //                 CourseName = g.Key.CourseName
        //             }).ToList();
        // }
        UpdateCountdown();
        timer = new System.Threading.Timer(_ =>
        {
            InvokeAsync(() =>
            {
                UpdateCountdown();
                StateHasChanged();
            });
        }, null, TimeSpan.Zero, TimeSpan.FromSeconds(30));

        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }
    
    private void UpdateCountdown()
    {
        var now = DateTime.Now;
        var diff = targetDate - now;
        if (diff.TotalSeconds > 0)
        {
            countdownText = $"{diff.Days} dage {diff.Hours} timer {diff.Minutes} minutter.";
        }
        else
        {
            countdownText = "Så er vi igang";
        }
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }    
}
