@page "/"


<section class="hero">
    <div class="container-fluid h-100">
        <div class="row h-100">
            @if (matchId != null)
            {
                <Results MatchId="matchId" />
            }
            else {
            <div id="carouselExampleCaptions" class="carousel carousel-fade hero-carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container position-relative h-100">
                            <div class="carousel-caption d-flex flex-column justify-content-center">
@*                                 <small class="small-title">Introducing Waso Strategy <strong class="text-warning">01/05</strong></small>
 *@
                                <h1>Golf <span class="text-warning">for</span> aktive drengerøve</h1>

                                 <div class="d-flex align-items-center mt-4">
                                        <a class="custom-btn btn custom-link" href="/leaderboard/scores">Leaderboard</a>

                                </div>
                            </div>
                        </div>

                        <div class="carousel-image-wrap">
                            <img src="images/slide/img1.jpg" class="img-fluid carousel-image" alt="">
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="container position-relative h-100">
                            <div class="carousel-caption d-flex flex-column justify-content-center">
                                <h1>På udkig <span class="text-warning">efter nye mål</span></h1>
                                <div class="d-flex align-items-center mt-4">
                                    <a class="custom-btn btn custom-link" href="/leaderboard/scores">Leaderboard</a>

                                </div>
                            </div>
                        </div>

                        <div class="carousel-image-wrap">
                            <img src="images/slide/img2.jpg" class="img-fluid carousel-image" alt="">
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="container position-relative h-100">
                            <div class="carousel-caption d-flex flex-column justify-content-center">
                                <h1>Gadens drenge <span class="text-warning">hygger sig</span></h1>
                                <div class="d-flex align-items-center mt-4">
                                    <a class="custom-btn btn custom-link" href="/leaderboard/scores">Leaderboard</a>

                                </div>
                            </div>
                        </div>

                        <div class="carousel-image-wrap">
                            <img src="images/slide/gadehygge.jpg" class="img-fluid carousel-image" alt="">
                        </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            }
        </div>
    </div>
</section>
@code {

    [Parameter]
    public int? matchId { get; set; }


}